
/* +++ STYLE BAGIAN AWAL BROWSER +++ */

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(214, 198, 198);
}

html{
    /* overscroll-behavior: none; */
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: 150px;
  margin-left: 150px;
  display: flex;
}

/* --- STYLE BAGIAN AKHIR BROWSER --- */




 /* ############################### PEMISAH BAGIAN - BAGIAN CSS ############################### */




/* +++ STYLE BAGIAN AWAL NAVBAR +++ */

.navbar{
    padding: 0;
    
}

.navbar-p{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 46, 46);
    align-items: center;
}



.navbar-p img{
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin-left: 174px;
    border-radius: 0px 0px 20px 20px;
    object-fit: cover;
    }


.atribut{
    margin-right: 174px;
    display: flex;
    align-items: center;
}

.atribut-c{
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 0;
}

.atribut-c li a{
    font-family: Poppins;
    text-decoration: none;
    color: white;
}

/* --- STYLE BAGIAN AKHIR NAVBAR --- */


 /* ############################### PEMISAH BAGIAN - BAGIAN CSS ############################### */